<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bankrate"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0" >
	<uses-sdk android:minSdkVersion="11" android:targetSdkVersion="15"/> 

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="com.viettel.services.MyService" />

    <permission
        android:name="com.viettel.services.MyService"
        android:description="@string/app_name"
        android:label="lbletext"
        android:protectionLevel="dangerous" >
    </permission>
    
     <uses-permission android:name="com.viettel.permission.BROADCAST" />
     <permission
        android:name="com.viettel.permission.BROADCAST"
        android:label="@string/app_name"
        android:permissionGroup="android.permission-group.MESSAGES"
        android:protectionLevel="dangerous" />
     <uses-permission android:name="android.permission.BATTERY_STATS"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.bankrate.activity.WellcomeActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme" 
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bankrate.activity.DetailsTransactionActivity"
            android:screenOrientation="portrait" >
            
        </activity>
        <activity
            android:name="com.bankrate.activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <service
            android:name="com.bankrate.services.MyService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.viettel.services.MyService" >
        </service>
        <receiver
            android:name="com.bankrate.services.WifiConnectionReceiver"
            android:permission="com.viettel.permission.BROADCAST" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.bankrate.services.MessageReceiver"
            android:permission="com.viettel.permission.BROADCAST" >
        </receiver>
    </application>

</manifest>